<h3 class="mb-4">Login</h3>

<div class="card">
    <div class="card-body">
        <form action="/usuarios/login" method="post">
            <label for="email">Email:</label>
            <input type="email" name="email" required class="form-control">

            <label for="senha">
                Senha:
            </label>
            <input type="password" name="senha" class="form-control" minlength="8" required>

            <button type="submit" class="btn btn-success mt-4">
                Entrar
            </button>
        </form>
        <p class="mt-2">Não tem conta? <a href="/usuarios/registro" class="text-success">Cadastrar</a></p>
    </div>
</div>