<div class="card p-4 ">
    <div class="card-body">
        {{categoria.nome}}
        <h2>{{postagem.titulo}}</h2>
        <hr>
        <small><strong>Data de publicação:</strong> {{formatDate postagem.data}}</small>
        <hr>
        {{postagem.conteudo}}
    </div>
</div>
